doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/styles.css")
    body 
        <h1>Hello, world!</h1>
        a(href="#").btn click me
        a(href="#").btn2 click me
        include components/mixins
        //- 1. Кнопки - міксини
        //- 1. Колір текстів - змінні
        //- 1. Картки товарів - міксини сасс і паг
        //- 1. Градієнт - міксини
        //- 1. Меню - змінні паг
        //- 1. Декор рисочки - міксини
.cardwrap        
    +oneCard(cards.card1)
    +oneCard(cards.card2)
    +oneCard(cards.card3)